<style>
    .ticket{
        font-family: 'Free Mono'
    }
    hr{
        border-top:2px dotted black;
    }
    .ticket {
        max-width: 250px;
        background-color: #FAFAFA;
    }

    .center {
        text-align: center;
    }
    .firma{
        padding-top: 30px;
    }
</style>


<div class="ticket">

    <div class="center">
        <b>{{empresa.name}}<br>{{empresa.direccion}}</b> <br>
        <small>Tel: {{empresa.telefono}}</small>
        {% if empresa.ruc != None %}
            RUC: {{empresa.ruc}}
        {% endif %}
    </div>
<hr>
<div class="center">
    <strong>FACT # {{invoice.id}}</strong>
</div>
CLIENT: {{invoice}}
{% if item_articulos.count > 0 %}
    <div class="center">
        ======== ARTICULOS ========
    </div>
    {% for item_articulo in item_articulos %}
        CONCEP: {{item_articulo.product}} <br>
        PREC: {{item_articulo.product.sale_price}} <br>
        CANT: {{item_articulo.quantity}} <br>
        <div class="center">-----</dic>
    {% endfor%}
{% endif %}

{% if item_servicios.count > 0 %}
    <div class="center">
        ======== SERVICIOS ========
    </div>
    {% for item_servicio in item_servicios %}
        CONCEP: {{item_servicio.type_service}} <br>
        PREC: {{item_servicio.type_service.price}} <br>
        CANT: {{item_servicio.quantity}} <br>
        <div class="center">-----</div>
    {% endfor%}
{% endif %}
TOTAL: {{invoice.total}}<br>
PAGO: {{invoice.pago}}
<div class="center">===========================</div>
{% if invoice.pago == 'credito' %} <br>
FECH. LIMITE:  {{invoice.fecha_limite}}
{% endif %}
<div class="center">
    CAJERO: {{request.user}}
</div>
<hr>
<small>Administra v0.1.3A</small>
</div>