<table id="{{id}}" class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Método Pago</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Fech. Factura</th>
            <th>Fech. Límite</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas.all %}
        <tr class="bg-{{ factura.clase }} white-text">
            <th scope="row">{{ factura.id}}</th>
            <td>{{ factura.cliente}}</td>
            <td> {% if factura.pago == 'contado' %}
                <strong class="white-text">Contado</strong> {% else %}
                <strong class="white-text">Crédito</strong> {% endif %}</td>
            <td>{{ factura.total }}</td>
            <td>
                {{factura.estado}}
            </td>
            <td>
                {{factura.fecha_factura}}
            </td>
            <td>
                {{factura.fecha_limite}}
            </td>
            <td class="white-text">

                {% if factura.cobrado == False %}
                <a class="btn btn-primary btn-sm" href="{% url 'cobrar_factura' factura.id %}">Cobrar</a> {% endif %}

                <a href="{% url 'detalles_factura' factura.id %}" class="btn btn-info btn-sm" }>Detalles</a>
                <a class="btn btn-danger btn-sm" href="{% url 'eliminar_factura' factura.id %}" onclick="return confirm('¿Estas seguro que de eliminar la factura?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>