{% load staticfiles %}
{% include 'navbar.html' %}
    <ul class="nav nav-pills flex-column div_hover">
        <a class="nav-item nav-link nav-link-styled" data-toggle="modal" data-target=".bd-example-modal-lg">
            <i class="nav-icon fi-shopping-cart"></i>
            <p class="nav-item-text float-left">Nuevo Artículo</p>
        </a>
    </ul>
    <ul class="nav nav-pills flex-column div_hover">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link nav-link-styled" href="{% url 'logout' %}" onclick="return confirm('¿Estas seguro de cerrar la sesión?')">
            <i class="nav-icon fi-lock"></i>
            <p class="nav-item-text float-left">Cerrar Sesión</p>
        </a>
        {% else %}
        <a class="nav-item nav-link nav-link-styled" href="{% url 'login' %}">Iniciar Sesión</a> {% endif %}

    </ul>
</nav>
