
# Django Recommended
*.egg-info
*.pot
*.py[co]
*.pyc
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
django-env/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
assets/ # The directory set as STATIC_ROOT where Apache creates new static files on live web servers.

.idea/*
media/*
.vscode/*