 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
 <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% include 'messages.html' %}
<div class="row">
    {% include 'sales/navbar.html' %}
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">

<h3>Articulos Vendidos</h3>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'MakeSale' %}" class="btn btn-info">Vender un Artículo</a>
</div>
<table id="tabla_ventas" class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>quantity</th>
            <th>Precio de Sale</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sale.all %}
        <tr>
            <th scope="row">{{ sale.id}}</th>
            <td>{{ sale.product.name }}</td>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.product.sale_price }}</td>
            <td>{{ sale.total }}</td>
            <td>{{ sale.created_at }}</td>
            <td>{{ sale.user.username }}</td>
            <td>
                <!--div class="btn-group" role="group" aria-label="acciones">
                    <a href="#" class="btn btn-outline-primary">Detalles</a>
                    <a href="#" class="btn btn-outline-primary">Añadir a Factura</a>
                </div-->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </main>
</div>
{% endblock content %}