{% extends 'base.html' %} {% block content %}  {% include 'messages.html' %}
<br>
<h2>facturas Realizados</h2>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url 'realizar_factura' %}" class="btn btn-secondary">Registra un factura</a>
</div>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas.all %}
        <tr>
            <th scope="row">{{ factura.id }}</th>
            <td>{{ factura.servicio.descripcion }}</td>
            <td>{{ factura.servicio.precio }}</td>
            <td>{{ factura.usuario.username }}</td>            
            <td>{{ factura.fecha_factura }}</td>
            <td><a href="">acciones factura</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}