{% extends 'base.html' %} {% block content %}
<br> {% include 'messages.html' %}
<h3>Servicios Realizados</h3>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'realizar_servicio' %}" class="btn btn-info">Registra un servicio</a>
</div>
<table class="table table-striped responsive">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in servicios.all %}
        <tr>
            <th scope="row">{{ servicio.id }}</th>
            <td>{{ servicio.descripcion }}</td>
            <td>{{ servicio.cantidad }}</td>
            <td>{{ servicio.precio }}</td>
            <td>{{ servicio.usuario.username }}</td>
            <td>{{ servicio.fecha_servicio }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#" class="btn btn-outline-primary">Detalles</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Facturar a</button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            {% if facturas %}
                                {% for factura in facturas.all %}
                                <a class="dropdown-item" href={% url 'agregar_a_factura' servicio.id factura.id %}>{{factura.cliente}}</a>
                                {% endfor %}
                            {% else %}
                            <div class="dropdown-item">No hay facturas</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}