 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
 <br>
<h2>Articulos Vendidos</h2>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url 'realizar_venta' %}" class="btn btn-secondary">Vender un Artículo</a>
</div>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>cantidad</th>
            <th>Precio de Venta</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Vendedor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in venta.all %}
        <tr>
            <th scope="row">{{ venta.articulo.id}}</th>
            <td>{{ venta.articulo.nombre }}</td>
            <td>{{ venta.cantidad }}</td>
            <td>{{ venta.articulo.precio_venta }}</td>
            <td>{{ venta.total }}</td>
            <td>{{ venta.fecha_venta }}</td>
            <td>{{ venta.usuario.username }}</td>
            <td><a href="#">Mandar alv</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}