{% extends 'base.html' %} {% block content %}  {% include 'messages.html' %}
<br>
<h3>invoices Realizados</h3>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url 'realizar_factura' %}" class="btn btn-secondary">Registra un invoice</a>
</div>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices.all %}
        <tr>
            <th scope="row">{{ invoice.id }}</th>
            <td>{{ invoice.service.description }}</td>
            <td>{{ invoice.service.price }}</td>
            <td>{{ invoice.usuario.username }}</td>            
            <td>{{ invoice.fecha_factura }}</td>
            <td><a href="">acciones invoice</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}