 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
 {% load ayudantes %}
<br> {% include 'messages.html' %} {% if invoice.open is True %} {% include 'invoices/parciales/agregando.html' %}
<script src="{% static 'js/factura_ajax.js' %}"></script>
{% else %}
<!--Pantalla para invoice closed-->

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> {% include 'messages.html' %}
<div class="row">
    {% include 'invoices/parciales/navbar-detalles.html' %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
        {% if var|ticket %}
<h5>Detalles de Factura - Cliente: {{invoice}}</h5>
        <div class="row">
            <div class="col-xs-9">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Concepto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Sub-Total</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_factura">

                        {% for service_item in service_items.all %}
                        <tr>
                            <td>{{ service_item.type_service }}</td>
                            <td>{{ service_item.type_service.price }}</td>
                            <td>{{ service_item.quantity }}</td>
                            <td>{{ service_item|servicio_subtotal }}</td>

                        </tr>
                        {% endfor %} {% for product_item in product_items.all %}
                        <tr>
                            <td>{{ product_item.product}}</td>
                            <td>{{ product_item.product.sale_price }}</td>
                            <td>{{ product_item.quantity }}</td>
                            <td>{{ product_item|articulo_subtotal }}</td>                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-xs-3" id="ticket">
                {% include 'invoices/parciales/imprimir_ticket.html' %}
            </div>                    
        </div>
                {% else %}
                    {% include 'invoices/parciales/imprimir.html' %}
                {% endif %}
    </main>
</div>


{% endif %} {% endblock content %}