<script>
    $("#form_vender").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "{% url 'SaleAjax' %}",
            data: {
                product: $('#id_product').val(),
                quantity: $('#cantidad_articulo').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            // handle a successful response
            error: function (json) {
                $('#id_product').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                console.log("Error al realizar la sale");
                toastr["eror"](json.message)                
            },

            success: function (json) {
                $('#id_product').val('');
                console.log(json);
                console.log("success");
                toastr["success"](json.message)

                // Quitar las la ultima fila de la tabla
                $('#tabla_ventas').prepend(
                    `<tr>
                    <th scope="row">` + json.sale_id +
                    `</th>
                    <td>` + json.product +
                    `</td>
                    <td>` + json.quantity +
                    `</td>
                    <td>` + json.sale_price +
                    `</td>
                    <td>` + json.total +
                    `</td>
                    <td>` + json.seller +
                    `</td>
                    <td>` + json.created_at +
                    `</td>
                </tr>`
                );

                $('#tabla_ventas tr:last').remove();
            },
        });
    });

</script>