<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content container">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un Artículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form action="{% url 'ajax_crear_articulo' %}" id="form_articulo" method="POST" class="post-form white-text" action="/inventario/articulo/ajax">
                <input type="hidden" name="csrfmiddlewaretoken" value="HctOOmbVKAlB3afVvDIcmvY8RHTiVTNPm6wa7pitgoRMVD8v0IdEIiAwDmRvsCjL">
                <div class="form-group row">
                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_nombre">Nombre:</label>
                        <input placeholder="Nombre" type="text" name="nombre" id="id_nombre" maxlength="200" required="true" class="form-control">
                    </div>

                    <div class="col-xs-4 input-group form-group">
                        <label class="sr-only" for="id_codigo">Codigo:</label>
                        <input placeholder="Código" type="text" name="codigo" id="id_codigo" maxlength="20" required="true" class="form-control">
                    </div>


                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_descripcion">Descripcion:</label>
                        <input placeholder="Descripción" type="text" name="descripcion" id="id_descripcion" class="form-control">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_precio_compra">Precio compra:</label>
                        <input placeholder="Precio de Compra" type="number" name="precio_compra" step="0.01" id="id_precio_compra" required="true"
                            class="form-control">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_precio_venta">Precio 1:</label>
                        <input placeholder="Precio 1" type="number" name="precio_venta" step="0.01" id="id_precio_venta" required="true" class="form-control">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_precio_venta2">Precio 2:</label>
                        <input placeholder="Precio 2" type="number" name="precio_venta2" step="0.01" id="id_precio_venta2" required="true" class="form-control">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_precio_venta3">Precio 3:</label>
                        <input placeholder="Precio 3" type="number" name="precio_venta3" step="0.01" id="id_precio_venta3" required="true" class="form-control">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_iva">Iva:</label>
                        <input placeholder="IVA(%)" type="number" name="iva" step="0.01" id="id_iva" required="true" class="form-control">
                    </div>

                    <div class="col-xs-4 form-group">
                        <label class="sr-only" for="id_cantidad_inicial">Cantidad inicial:</label>
                        <input placeholder="Cantidad Inicial" type="number" name="cantidad_inicial" step="0.01" id="id_cantidad_inicial" required="true"
                            class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success float-right">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>