{% load ayudantes %}
{% load staticfiles %}
<nav class="toggled col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar darker-nav">
    <div class="nav nav-pills flex-column center-xs user">
        <div class="photo">   
            {% if user.profile.picture %}       
                <img src="{{request.user|avatar}}" alt="avatar" class="avatar-user">
            {% else %}
                <img src="{% static 'img/avatar.png'%}" alt="avatar" class="avatar-user">
            {% endif %}
        </div>
        <p style="color: lightgray;">
            <h4 class="white-text">{{user.profile.name}}</h4>
        </p>
    </div>