<div id="list_fact_abiertas" class="list-group">
    {% for invoice in list_opened %}

    <a href="{% url 'InvoiceDetails' invoice.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{invoice}} {% if invoice.pago == 'credit' %}
                <span class="badge badge-danger">Crédito</span> {% else %}
                <span class="badge badge-success">Contado</span>
                {% endif %}
            </h5>

            <small>hace {{invoice.fecha_factura|timesince}}</small>
        </div>
        <p class="mb-1">
            <strong>Productos: </strong> {{invoice.product_count}} |
            <strong>Servicios: </strong> {{invoice.service_count}} |
            <strong>Total:</strong> {{invoice.total}}
        </p>
    </a>
    {% endfor %}
</div>