<script>
    $("#form_articulo").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            data: {
                nombre: $('#id_nombre').val(),
                codigo: $('#id_codigo').val(),
                descripcion: $('#id_descripcion').val(),
                precio_compra: $('#id_precio_compra').val(),
                precio_venta: $('#id_precio_venta').val(),                
                precio_venta2: $('#id_precio_venta2').val(),                
                precio_venta3: $('#id_precio_venta3').val(),                
                iva: $('#id_iva').val(),                
                cantidad_inicial: $('#id_cantidad_inicial').val(),                
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            // Mostar un mensaje de error 
            error: function (json) {
                $('#form_articulo')[0].reset();
                console.log(json); // log the returned json to the console
                toastr["error"]("No se pudo crear el artículo")
            },

            success: function (json) {
                $('#form_articulo')[0].reset();
                toastr["success"]("Se creó el artículo con éxito")

                // Agregar el artículo a la tabla
                $('#tabla_inventario').prepend(
                    `<tr id="art_`+ json.articulo_id +`">
                    <th scope="row">` + json.codigo +
                    `</th>
                    <td>` + json.nombre +
                    `</td>
                    <td>`+ json.cantidad_inicial +`</td>
                    <td>`+ json.minimo_existencias +`</td>
                    <td>`+ json.precio_compra +`</td>
                    <td>`+ json.precio_venta +`</td>
                    <td>`+ json.precio_venta2 +`</td>
                    <td>`+ json.precio_venta3 +`</td>
                    <td>`+ json.iva +`</td>
                    <td>

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a href="/inventario/articulo/`+ json.articulo_id +`" class="btn btn-outline-primary" }>Detalles</a>
                        <button class="btn btn-outline-danger del-btn" 
                            dir="/inventario/eliminar/`+ json.articulo_id +`/">
                            Eliminar
                        </button>
                        </div>

                    </td>
                </tr>`
                );
            },
        });
    });
</script>