 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="row">
    {% include 'inventory/navbar.html' %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
        <div class="row center-xs">
            <div class="col-xs-6">
                <div class="box" style="padding: 5%">
                    <h4>{{product.name}}</h4>
                    <hr>
                    <div class="text-left">
                        {% if stocks.stocks > 0 %}
                        <span class="badge badge-success">En inventory</span> {% else %}
                        <span class="badge badge-danger">Agotado</span> {% endif %}
                        <span class="badge badge-info">Mas Vendidos</span>
                        <hr>
                        <b>Existencias: </b> <span id="exist">{{stocks.stocks}}</span> <br>
                        <b>Veces vendido: </b> 1 <br>
                        <b>Puesto entre los mas vendidos: </b> 1
                        <hr>
                        <div class="card card-inverse card-info mb-3 text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <b>Descripción</b>
                                    <p>{{ product.description }}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 box">
                <div class="box" style="padding:5%;">
                <h4>Editar stocks</h4>
                <hr>
                <form id="form_articulo" method="POST" class="white-text mdl-shadow--2dp" style="background-color: whitesmoke; border-radius: 6px; color:gray">
                    {% csrf_token %}{% if next %}
                    <input type="hidden" name="next" value="{{ next }}" /> {% endif %}

                    <div style="padding: 5%;">
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <label class="float-left" for="id_stocks">Existencias:</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" id="id_stocks" name="stocks" type="number" required="true">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-4">
                                <label class="float-left" for="id_minimo_existencias">Minimo stocks:</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control" id="id_minimo_existencias" name="min_stocks" type="number" value="1" required="true">
                            </div>    
                        </div>
                        <div class="form-group">
                            {{form.active.label_tag}} {{form.active}}
                        </div>
                        <button type="submit" class="save btn btn-success btn-block">Listo</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        {% include 'inventory/parciales/_form.1.html' %}
</div>
</main>
<script>
    $("#form_articulo").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "{% url 'act_existencias' stocks.id %}",
            data: {
                stocks: $('#id_stocks').val(),
                min_stocks: $('#id_minimo_existencias').val(),
                active: $("#id_activo").is(':checked'),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            // Mostar un mensaje de error 
            error: function (json) {
                $('#form_articulo')[0].reset();
                console.log(json); // log the returned json to the console
                toastr["error"]("No se pudo crear el artículo")
            },

            success: function (json) {
                $('#form_articulo')[0].reset();
                console.log(json);
                toastr["success"]("Se creó el artículo con éxito");
                document.getElementById("exist").innerHTML = json.stocks;
                // Agregar el artículo a la tabla
            },
        });
    });
</script>
{% endblock %}