 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<div class="row">
  {% include 'inventario/navbar.html' %}
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
    <div class="row">
      <div class="col-xs-6">
        <h3>Articulos en el Inventario</h3>
      </div>
      <div class="col-xs-6">
        <div class="float-right" style="margin-top: 1%;">
          <span class="badge badge-info">Total invertido en inventario: {{total_inversion}}</span>
        </div>
      </div>
    </div>

    <table id="tabla_inventario" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Existencias</th>
          <th>Minimo Existencias</th>
          <th>Precio Compra</th>
          <th>Precio Venta 1</th>
          <th>Precio Venta 2</th>
          <th>Precio Venta 3</th>
          <th>IVA(%)</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for inventario in inventario.all %}
        <tr id="art_{{ inventario.articulo.id }}">
          <th style="width: 100px;">{{ inventario.articulo.codigo}}</th>
          <td>{{ inventario.articulo.nombre }}</td>
          <td>{{ inventario.existencias }}</td>
          <td>{{ inventario.minimo_existencias }}</td>
          <td>{{ inventario.articulo.precio_compra }}</td>
          <td>{{ inventario.articulo.precio_venta }}</td>
          <td>{{ inventario.articulo.precio_venta2 }}</td>
          <td>{{ inventario.articulo.precio_venta3 }}</td>
          <td>{{ inventario.articulo.iva }}</td>
          <td>

            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <a href="{% url 'ver_articulo' inventario.articulo.id %}" class="btn btn-outline-primary" }>Detalles</a>
              <button class="btn btn-outline-danger del-btn" dir="{% url 'eliminar_articulo' inventario.articulo.id %}">
                Eliminar
              </button>
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</div>

{% include 'inventario/parciales/_form.html' %}
<script id="ajax-script">
  $(document).on('click', '.del-btn', function (event) {
    event.preventDefault();
    var eliminar_art = $(this).parent();
    if (confirm("¿Seguro que quieres borrar el artículo?")) {
      $.ajax({
        url: $(this).attr('dir'),
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: "json",
        type: "POST",
        // Mostar un mensaje de error 
        error: function (json) {
          $('#form_articulo')[0].reset();
          console.log(json);
          toastr["error"]("Ocurrió un error al eliminar el artículo");
        },

        success: function (json) {
          $('#form_articulo')[0].reset();
          console.log(json);
          toastr["success"]("Se eliminó el artículo con éxito");
          document.getElementById("art_" + json.articulo_id).remove();
        },
      });
    }
  });
</script>
{% include "inventario/ajax.html" %}
{% endblock content %}