 {% extends 'base.html' %} {% load staticfiles %} {% block content %}
 <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% include 'messages.html' %}
<div class="row">
    {% include 'caja/navbar.html' with form_factura=form_factura %}
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2">
<p><h3>Estado de Caja</h3></p>
<hr>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#inicio" role="tab">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#egresos" role="tab">Egresos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="inicio" role="tabpanel">
      <br>
      {% include 'caja/parciales/resumen.html' %}
  </div>
  <div class="tab-pane fade" id="egresos" role="tabpanel">...</div>
  <div class="tab-pane fade" id="settings" role="tabpanel">...</div>
</div>

<div style="display: none" id="saldo_actual">{{ultima_caja.saldo}}</div>
<!-- Small modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realizar Cierre de Caja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <b>Saldo: </b> <span id="saldocaja">{{ultima_caja.saldo}}</span>
            <form method="POST" action="{% url 'cierre_caja' %}" class="post-form text-left">{% csrf_token %} 
                {{ form_retiro.as_p }}                
                <button style="width: 100%" type="submit" class="save btn btn-success">Retirar Dinero</button>
            </form>
            </div>
            <div class="modal-footer">
                <button id="cerrarmodal" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Realizar Cierre</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#id_saldo').on('input',function(e){
        var saldo_actual = parseFloat($('#saldo_actual').text());
        var retiro = parseFloat($('#id_saldo').val());
        var saldo_final = (saldo_actual-retiro);
        if(retiro && retiro < saldo_actual){
            $('#saldocaja').html(saldo_final.toString());
        }
    });
    $('#cerrarmodal').on('click', function(e){
        $('#id_saldo').val(0);
        var saldo_actual = parseFloat($('#saldo_actual').text());
        $('#saldocaja').html(saldo_actual.toString());
    });

    // REALIZAR APERTURA MEDIANTE AJAX
    $('.apertura_btn').on('click', function(e){
        event.preventDefault();
        $.ajax({
            url: $(this).attr('href'),
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            // handle a successful response
            error: function (json) {
                console.log(json); // log the returned json to the console
                toastr["error"]("No se pudo realizar la apertura")
            },

            success: function (json) {
                console.log(json);
                toastr["success"]("Se realizó la apertura")
                $("#botones").html(`
                    <h4 class="card-title">Caja Activa</h4>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">Cerrar Caja</button>`);
                
                //$('#list_fact_abiertas').prepend();
            },
        });
    });

    $("#form_primera_apertura").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            data: {
                saldo: $('#id_saldo_inicial').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: "json",
            type: "POST",
            // handle a successful response
            error: function (json) {
                $('#id_saldo_inicial').val(''); // remove the value from the input
                console.log(json); // log the returned json to the console
                toastr["error"]("No se pudo realizar la venta")
            },

            success: function (json) {
                console.log(json);
                toastr["success"]("Se realizó la venta");
                $("#botones").html(`
                    <h4 class="card-title">Caja Activa</h4>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal">Cerrar Caja</button>`);
                $('#ultima_caja_saldo').html('$'+json.saldo.toString());
            },
        });
    });

   
    
</script>
{% endblock %}