{% extends 'base.html' %} {% block content %} {% include 'messages.html' %}
<br>
<h3>Estado de Caja</h3>
<div class="btn-group" role="group" aria-label="Basic example">
    {% if not caja %}
    <a href="{% url 'apertura_caja' %}" class="btn btn-info">Abrir Caja</a> {% endif %}
    <a href="{% url 'estado_capital' %}" class="btn btn-info">Estado de Finanzas</a>
    <a href="{% url 'nuevo_egreso' %}" class="btn btn-info">Realizar un Egreso de Caja</a>
</div>
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Saldo</th>
            <th>Fecha de Apertura</th>
            <th>Fecha de Cierre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for caja in caja.all %}
        <tr>
            <th scope="row">{{ caja.id }}</th>
            <td>{{ caja.saldo }}</td>
            <td>{{ caja.fecha_apertura }}</td>
            <td>{{ caja.fecha_cierre }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="acciones">
                    {% if not caja.fecha_cierre %}
                    <a href="{% url 'cierre_caja' %}" class="btn btn-outline-primary">Cerrar caja</a> {% else %}
                    <a href="#" class="btn btn-outline-warning">Ver informe</a> {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}